# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# VS Code
.vscode/

# Build
build/

# Configurações sensíveis
.env
**/application.properties
**/application-*.properties
